@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popoins' sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    place-items: center;
    background: #f2f2f2;
}

.wrapper {
    width: 380px;
    background: #929090;
    border-radius: 15px;
    box-shadow: 50px 50px 15px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
    color: #fff;
    line-height: 100px;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

.wrapper form {
    padding: 10px 30px 50px 30px;

}

.wrapper form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.wrapper form .field input {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border-radius: 25px;
    border: 1px solid lightgrey;
    outline: none;
    transition: all 0.3s ease;
    font-size: 17px;
}

.wrapper form .field label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 17px;
    color: #999;
}

.wrapper form .field input:focus~label,
.wrapper form .field input:valid~label {
    top: 0%;
    transform: translateY(-50%);
    font-size: 15px;
    color: #4158d0;
}

.wrapper form .field input:focus {
    border-color: #4158d0;
}

.wrapper form .pass-link {
    color: #4158d0;
    margin: 11px 0 0 10px;
    font-size: 18px;
}

.wrapper form .field input[type="submit"] {
    color: #fff;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.wrapper form .field input[type="submit"]:active {
    transform: scale(0.95);
}

.wrapper .signup {
    margin: 20px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.wrapper form .pass-link a,
.wrapper form .signup a {
    text-decoration: none;
}
.wrapper form .pass-link a:hover,
.wrapper form .signup a:hover{
    text-decoration: underline;
}